<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<!--GeoAdmin Map-->
<div id="geomap" class="map"></div>


<button id="button1" name="1">Background</button>
<button id="button2" name="2">GSM</button>
<button id="button3" name="3">UMTS</button>
<button id="button4" name="4">LTE</button>
<br>
<button id="antennaJSON">antennaJSON</button>



<!--Open Street Map-->
<div id="header">
    <div id="content">Karte (Testversion)</div>
    <div id="osm">© <a href="http://www.openstreetmap.org">OpenStreetMap</a>
        und <a href="http://www.openstreetmap.org/copyright">Mitwirkende</a>,
        <a href="http://creativecommons.org/licenses/by-sa/2.0/deed.de">CC-BY-SA</a>
    </div>
</div>
<div id="map"></div>