<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/map.css"/>
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ie_map.css"/>
    <![endif]-->

  </head>
  <body>
    {{{body}}}
  </body>

  <script src="https://api3.geo.admin.ch/loader.js?lang=de" type="text/javascript"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js"></script>
  <script type="text/javascript" src="https://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
  <script type="text/javascript" src="/javascripts/tom.js"></script>
  <script src="/javascripts/mapSetup.js" type="text/javascript"></script>
  <script src="/javascripts/antenna.js" type="text/javascript"></script>

</html>
