<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="/javascripts/mapSetup.js" type="text/javascript"></script>
      <script src="/javascripts/antenna.js" type="text/javascript"></script>
      <script src="/javascripts/dbAccess.js" type="text/javascript"></script>
      <link rel="stylesheet" type="text/css" href="/stylesheets/map.css"/>
      <!--[if IE]>
      <link rel="stylesheet" type="text/css" href="/stylesheets/ie_map.css"/>
      <![endif]-->
      <script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script>
      <script type="text/javascript" src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
      <script type="text/javascript" src="/javascripts/tom.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
